@media screen and (max-width: 450px) {
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 4vw;
    }
    
    .container a {
        width: 40%;
        height: 70vw;
        margin: 20px 10px;
        text-decoration: none;
        color: #6247AA;
    }

    .container img {
        width: 28.5vw;
        margin: 0 1.5vw;
    }

    .container-game {
        display: flex;
        flex-direction: column;
        height: 62vw;
        padding: 2px;
        border-radius: 2vw;
        box-shadow: 0px 0px 10px #6247AA;
        text-align: center;
    }


}